@model IEnumerable<BlogSystem.Models.Article>
@{
    ViewBag.Title = "Index";
}

<p>
    @using (Html.BeginForm("Index", "Article", FormMethod.Get))
    {
    <p class="well">
        @Html.TextBox("SearchString", null, new { @class = "search-option col-lg-4" }) <br />
        <input type="submit" name="submit" value="Search" class="filter-bar btn btn-default" />
    </p>
    }
    </p>

    @if (!Request["submit"].IsEmpty())
    {

        foreach (var article in Model)
        {
            <div class="col-md-4 text-center">
                <div class="well">
                    @Html.ActionLink(article.Title, "Details", "Article", new { @id = article.Id }, new { @class = "article-title" })
                </div>
            </div>
        }

    }