@model IEnumerable<BlogSystem.Models.Article>
@{
    ViewBag.Title = "Index";
}

<div>
    @using (Html.BeginForm("Index", "Article", FormMethod.Get))
            {
        <div class="well">
            <div class="inner-addon right-addon">
                @Html.TextBox("SearchString", null, new { @class = "search-option col-md-4", @placeholder = "Search articles" }) <br />
                <i class="glyphicon glyphicon-search"></i>
                <input type="submit" name="submit" value="Search" class="filter-bar btn btn-default" />
            </div>
        </div>
    }
</div>

    @if (!Request["submit"].IsEmpty())
    {

        foreach (var article in Model)
        {
            <div class="col-md-4 text-center">
                <div class="well">
                    @Html.ActionLink(article.Title, "Details", "Article", new { @id = article.Id }, new { @class = "article-title" })
                </div>
            </div>
        }

    }