.category-background {
    height: 120px;
    width: 320px;
    background-color: #2c3e50;
    margin-top: 35px;
    text-align: center;
    padding-top: 21px;
    border-radius: 45px;
}

/*.article-background {
    width: 260px;
    height: 140px;
    margin-top: 30px;
    background-color: #2c3e50;
    text-align: center;
    padding-top: 45px;
    font-size: 2.1em;
    border-radius: 55px;
}*/



.link-text {
    color: white;
    font-size: 0.8em;
}

.resize-img {
    height: 260px;
    width: 290px;
    /*border-radius: 80px;*/
}

.img-window {
    margin-top: 5px;
    border-radius: 30px;
}

#adjust-author-name {
    margin-bottom: 10px;
}

#adjust-read-more {
    margin-top: -11px;
}

.article-image {
    width: 320px;
    height: 320px;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-size: 2.3em;
}

.filter-bar {
    /*position: relative;
    left: 36%;
    bottom: 50px;
    top: -10px;*/
    visibility: hidden;
}

.search-option {
    position: relative;
    left: 35%;
    margin-top: 8px;
    width: 450px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 30px;
}

.search-glass {
    position: static;
}

.article-title {
    font-size: 1.8em;
}

.image-box {
    width: 280px;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 24px;
    float: none;
}

.right-addon .glyphicon {
    right: 452px;
}

.right-addon input {
    padding-right: 30px;
}
